<!DOCTYPE html>
<html>
  <head>
    <title>BootcampExchange</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <span class="footer">
      <%= t('access') %> <a href="https://github.com/CristiAllan/bootcamp_exchange"><%= t('link') %></a>
    </span>
  </body>
</html>
